<a href="https://colab.research.google.com/github/seth1222/Capstone_Draft/blob/master/Copy_of_CapstoneData_SN_DRAFT3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [13]:

import io
df = pd.read_excel(io.BytesIO(uploaded['NYPD Motor Collision-Brooklyn 2018-2020.xlsx']))
df

df.drop(columns=['ON STREET NAME','CROSS STREET NAME','OFF STREET NAME','CONTRIBUTING FACTOR VEHICLE 2','CONTRIBUTING FACTOR VEHICLE 3','CONTRIBUTING FACTOR VEHICLE 4','CONTRIBUTING FACTOR VEHICLE 5','COLLISION_ID','VEHICLE TYPE CODE 1','VEHICLE TYPE CODE 2','VEHICLE TYPE CODE 3','VEHICLE TYPE CODE 4','VEHICLE TYPE CODE 5'])

       CRASH DATE  ...   CONTRIBUTING FACTOR VEHICLE 1
0      2020-08-18  ...  Driver Inattention/Distraction
1      2020-08-18  ...                Brakes Defective
2      2020-08-18  ...  Driver Inattention/Distraction
3      2020-08-18  ...                Backing Unsafely
4      2020-08-18  ...                Backing Unsafely
...           ...  ...                             ...
107966 2018-01-01  ...                     Unspecified
107967 2018-01-01  ...                     Unspecified
107968 2018-01-01  ...  Driver Inattention/Distraction
107969 2018-01-01  ...             Alcohol Involvement
107970 2018-01-01  ...                     Unspecified

[107971 rows x 16 columns]